body {
    background-color: #f2f3f5;
}

.layui-card {
    margin: 15px;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layui-layer-content {
    padding-top: 20px;
    padding-right: 30px;
}